@using Web.Resources

<footer id="footer" style="background-color: rgb(203,164,99); padding: 5px">
    <div class="content-wrapper">
        <div style="text-align:center">
            <font color="white">
                <span class="legales"></span>© @DateTime.Now.Year - @Global.AppTitle | @typeof(Web.MvcApplication).Assembly.GetName().Version
            </font>
        </div>
    </div>
</footer>